# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data files
*.csv
*.tsv
*.parquet
*.xlsx

# Environment variables
.env

# Build
build/
dist/
*.egg-info/

# System files
Thumbs.db

# Git
.git/

data/
logs/

